
body{
  background-image: url(../img/backgrounds/90s-pattern-1.jpg); /*The image used */
  opacity: 0.95;        /*varies from 0-1*/
  background-color: white; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: repeat; /* repeat the image */
}

h1, h2, h3, h4, article, p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    padding-left: 15px;
    
}

h1, h2, h3, h4 {
    
    color: #1982c9 ; 			/*  there are a few ways to do colour */
    
}

li,article, p{
    
    color:black;			/*  there are a few ways to do colour */
    padding-left: 15px;

}

h1{
    width: auto;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
    
    font-size: 30px;    
    text-align: center;
}

h2{
    width: auto;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
    
    padding-top: 20px;

    font-size: 20px;    
}

h3{
    width: auto;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
   
    font-size: 15px;    
}

li{
    width: auto;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
   
    font-size: 15px;    
}

article {
    width: auto;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
   
    line-height: 1.7;
    font-size: 20px;
}

p {
    max-width: 800px;
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 1.7;

}

.overflow-scroll {
    overflow: scroll;   /* determines the function*/
    height: 700px;       /* determines the height of the box*/
}

.overflow-scroll2 {
    overflow: scroll;   /* determines the function*/
    height: 500px;       /* determines the height of the box*/
}

.logos{

    float: right; 
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;

    /* margin: 0px 16px 16px 0px; */
}

