*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-size: 16px;  
}

body{
  background-image: url(../img/backgrounds/90s-pattern-1.jpg); /*The image used */
  opacity: 1;        /*varies from 0-1*/
  background-position: top left; /* Center the image */
  background-repeat: repeat; /* repeat the image */
}

article {
    width: auto;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
   
    line-height: 1.7;
    font-size: 20px;
    opacity: .97;
}

h1, h2, h3, h4, article, p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    padding-left: 15px;
    
}

h1, h2, h3, h4 {
    
    color: #1982c9 ; 			/*  there are a few ways to do colour */
    
}

li,article, p{
    
    color:black;			/*  there are a few ways to do colour */
    
}

h1{
    width: auto;
    max-width: 800px;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    
    font-size: 30px;    
    text-align: center;
}

/*h2{
    width: auto;
    max-width: 800px;

    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 15px;
    padding-bottom: 0px;

    font-size: 20px;    
}*/

h3{
    width: auto;
    max-width: 800px;
    
    margin-left: auto;
    margin-right: auto;
   
    padding-bottom: 0px;
    
    font-size: 15px;    
}

p {
    max-width: 800px;

    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 10px;

    margin-left: auto;
    margin-right: auto;
    
    font-size: 15px;
    line-height: 1.7;
}

#profile-picture /* # equals an ID*/ {
    
    margin-top: 10px;
    margin-bottom: -20px;
    margin-left: 10px;
}

#google-maps /* # equals an ID*/ {
    
    width: 95%;
    
    margin-top: 10px ;
    margin-right: 15px;
    margin-left: 10px; 
}

#social-media-links {
    list-style: none;
    text-align: center;

    margin-top: 10px;
    padding: 10px;
}
      
#contact-methods li{ /* Direct child selector ">" 
    The LI must be directly inside the element with the "social-media-links" id in this case.*/
    
    display: inline-block;
}

#contact-methods .fab{     
    
    /* RGBA - the a stands for ALPHA channel=selector with nesting.*/
    /* for alpha: 1 = opaque; 0 = transparent. You can use values inbetween like "0.5" to mark it as semi-transparent. */
    color:rgb(0, 0, 0);
    font-size: 40px;
}

#contact-methods a:hover .fab,
#contact-methods a:focus .fab,
#contact-methods a:active .fab{     /* Psuedo=selector with nesting.*/
    color:rgba(250,66,54, 0.85);
    font-size: 40px;
}

footer{
    opacity: 1;
}

.overflow-scroll {
    overflow: scroll;   /* determines the function*/
    height: 700px;       /* determines the height of the box*/
}

.overflow-scroll2 {
    overflow: scroll;   /* determines the function*/
    height: 600px;       /* determines the height of the box*/
}

.socialicons{

    padding: 30px;
    background-color: violet;
}


/*.socialicons{

    float: right; 
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;

    margin: 0px 16px 16px 0px; 
}*/

.title-spacing{

    width: auto;
    max-width: 800px;

    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 15px;
    padding-bottom: 0px;
}


.text-lists{

    width: auto;
    max-width: 800px;

    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;

    font-size: 15px;    
    line-height: 1.7;
}



